:root {
  --background-color-white: #ffffff;
  --background-color-light: #e8e4da;
  --background-color-dark: #2f2f2f;
  --background-color-placeholder: #bdb9ae;
  --background-color-placeholder-hover: #98948a;

  --text-color-dark: #2f2f2f;
  --text-color-white: #ffffff;

  --xs-font-size: 7px;
  --s-font-size: 14px;
  --m-font-size: 21px;
  --l-font-size: 28px;
  --xl-font-size: 35px;
  --xxl-font-size: 42px;
  --xxxl-font-size: 49px;
  --max-font-size: 70px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100svh;

  background-color: var(--background-color-light);
  color: var(--text-color-dark);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color-dark);
}

/* Set grid layout */
.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

/* Set buttons layout */
.button-container {
  display: flex;
  justify-content: center;
  gap: 5%;

  width: 300px;

  margin-top: 20px;
}

.btn-white {
  background-color: transparent;
  color: var(--text-color-dark);

  text-decoration: none;
  cursor: pointer;
  border: 1px solid #2f2f2f;

  padding: 14px;
}

.btn-white:hover {
  background-color: var(--background-color-dark);
  color: var(--text-color-white);

  cursor: pointer;
  transition: 0.3s;
}

.btn-black {
  background-color: var(--background-color-dark);
  color: var(--text-color-white);

  border: 1px solid #2f2f2f;
  cursor: pointer;

  padding: 14px;
}

/* Navbar menu */

.hidden {
  transform: translateY(-100%);
}

nav {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;

  background-color: var(--background-color-light);
  color: var(--text-color-dark);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  padding: 10px 0;

  border-bottom: 1px solid #bdb9ae;
}

.nav-content {
  grid-column: 2/12;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-content span {
  font-weight: bold;
}

nav ul {
  display: flex;
}

nav li {
  margin-left: 30px;

  padding: 10px 0;
}

.nav-content span,
li:hover {
  cursor: pointer;
}

.hamburger {
  display: none;
}

/* Hero section */
.hero {
  height: 100svh;
}

.hero-content {
  grid-column: span 6;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  gap: 5%;
}

.hero-content h1 {
  font-size: var(--xxxl-font-size);
}

.hero-content p {
  font-size: var(--l-font-size);

  text-align: center;
}

.img-hero {
  grid-column: span 6;

  width: 100%;
  height: 100%;
  max-height: 100%;
  background-image: url(./assets/hero.jpg); /* URL dell'immagine */
  background-size: cover; /* Adatta l'immagine in modalità cover */
  cursor: pointer;
}

/* Brand description section */

.description-section {
  height: 100vh;

  background-color: var(--background-color-white);
}

.description-content {
  grid-column: 4/10;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  text-align: center;
}

/* Services section */
.services {
  display: flex;
}

.img-service-1 {
  grid-column: span 7;

  height: 500px;

  background-image: url(./assets/service-1.jpg); /* URL dell'immagine */
  background-position: center;
  background-size: cover; /* Adatta l'immagine in modalità cover */
  cursor: pointer;
}

.img-service-2 {
  grid-column: span 7;

  height: 500px;

  background-image: url(./assets/service-2.jpg);
  background-position: center;
  background-size: cover;
  filter: grayscale(100%);

  cursor: pointer;
}

.img-service:hover {
  background-color: var(--background-color-placeholder-hover);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 0.3s;
}

.img-service p {
  color: var(--text-color-white);
  font-size: var(--xl-font-size);
}

.service-description-1 {
  grid-column: 8/12;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 5%;

  margin: 20px;

  text-align: justify;
}

.service-description-2 {
  grid-column: 2/6;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 5%;

  margin: 20px;

  text-align: justify;
}

#servizi {
  margin-bottom: 10%;
}

.description-button-container {
  align-items: end;
}

.services button {
  width: 130px;
}

/* Product cards section */
.cards-section {
  height: 100%;

  margin-top: 300px;
}
.cards-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 100px 20px;

  text-align: center;
}

.cards {
  height: 700px;

  color: var(--background-color-white);
  font-size: var(--xl-font-size);

  gap: 2px;
}

.card {
  grid-column: span 2;

  display: flex;
  justify-content: start;
  align-items: start;

  filter: brightness(70%);

  cursor: pointer;
}

.card:hover {
  filter: brightness(100%);
}

.card:hover {
  background-color: var(--background-color-placeholder-hover);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 0.3s;
}

.card-span-2 {
  grid-column: span 4;

  display: flex;
  justify-content: start;
  align-items: start;

  filter: brightness(70%);

  cursor: pointer;
}

.card-span-2:hover {
  filter: brightness(100%);
}

.card-span-3 {
  grid-column: span 6;

  display: flex;
  justify-content: start;
  align-items: start;

  filter: brightness(70%);

  cursor: pointer;
}

.card-span-3:hover {
  filter: brightness(100%);
}

#card-1 {
  background-image: url(./assets/card-1.jpg);
  background-position: center;
  background-size: cover;
}

#card-2 {
  background-image: url(./assets/card-2.jpg);
  background-position: center;
  background-size: cover;
}
#card-3 {
  background-image: url(./assets/card-3.jpg);
  background-position: center;
  background-size: cover;
}
#card-4 {
  background-image: url(./assets/card-4.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
}
#card-5 {
  background-image: url(./assets/card-5.jpg);
  background-position: center;
  background-size: cover;
}
#card-6 {
  background-image: url(./assets/card-6.jpg);
  background-position: center;
  background-size: cover;
}
#card-7 {
  background-image: url(./assets/card-7.jpg);
  background-position: center;
  background-size: cover;
}
/* Review section */
.review-box {
  height: 100svh;

  background-color: var(--background-color-light);
}

.review-content {
  grid-column: 2/12;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  margin-top: 150px;
}

.reviews {
  grid-column: 2/12;

  display: flex;
  flex-direction: row;
  gap: 100px;

  margin: 100px;
}

.single-review {
  width: 300px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.review-placeholder {
  height: 50px;
  width: 50px;

  background-color: var(--background-color-placeholder);

  border-radius: 50%;
}

/* Newsletter section */
.newsletter-box {
  height: 100svh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--background-color-white);
}
.newsletter-description {
  height: 80px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 40px;

  text-align: center;
}

form {
  grid-column: 4/10;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.input-field {
  height: 50px;
  width: 250px;

  margin: 10px;
  padding: 10px;

  font-size: var(--s-font-size);
  color: var(--text-color-dark);
  background: transparent;

  border: 1px solid #2f2f2f;
}

::placeholder {
  color: rgb(165, 165, 165);
}

.checkbox {
  width: 300px;

  font-size: var(--s-font-size);

  padding: 10px;

  text-align: center;
}

.submit {
  height: 50px;
  width: 250px;

  font-size: var(--s-font-size);
  color: var(--text-color-white);
  background-color: var(--background-color-dark);

  border: 1px solid #2f2f2f;

  cursor: pointer;
}

/* Footer section */
.footer {
  height: 400px;

  color: var(--text-color-white);
  background-color: var(--background-color-dark);
}

.brand-data {
  grid-column: span 6;

  display: flex;
  flex-direction: column;
  align-items: start;

  margin: 50px 20px;
}

.brand-data p {
  font-size: var(--s-font-size);
}

.list {
  grid-column: span 2;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.list li {
  padding: 10px;
}

/* Thanks page*/
.thanks {
  height: 100svh;

  background-color: var(--background-color-white);
  color: var(--text-color-dark);
}

.thanks-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.thanks-content h1 {
  font-size: var(--xxxl-font-size);
}

.thanks-content p {
  margin-bottom: 30px;
}

.img-placeholder-background {
  grid-column: 4/10;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/* Cookie banner*/
.cookie-banner {
  height: 250px;
  width: 500px;

  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;

  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  padding: 20px;
  margin: 20px;

  background-color: var(--background-color-white);
  color: var(--text-color-dark);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  text-align: justify;
}

.cookie-banner button {
  width: 150px;
}

@media (max-width: 768px) {
  /* Nav menu*/
  nav {
    height: 50px;
  }

  nav li {
    text-align: left;

    margin: 15px;

    border-bottom: 1px solid #2f2f2f;
  }

  nav ul {
    width: 100%;
    height: calc(100vh - 50px);

    position: absolute;
    display: block;
    top: 50px;
    right: -100%;

    background-color: var(--background-color-light);
    color: var(--text-color-dark);
  }

  .open nav ul {
    right: 0;
  }

  .hamburger {
    height: 25px;
    width: 30px;

    display: block;
    position: absolute;
    top: 11px;
    right: 20px;
  }

  .hamburger span {
    height: 3px;
    width: 30px;

    display: block;
    position: absolute;
    top: 8px;

    background-color: var(--text-color-dark);
  }

  .hamburger span:nth-child(1) {
    margin-top: 7px;
  }

  .hamburger span:nth-child(2) {
    margin-top: -2px;
  }

  .hamburger:hover {
    cursor: pointer;
  }

  /* Hero section*/
  .hero-content {
    grid-column: span 12;

    margin-top: 50px;
  }

  .img-hero {
    grid-column: span 12;
    max-width: 100%;
  }

  /* Brand description section */
  .description-content {
    grid-column: 2/12;
  }

  /* Services section */

  .img-service-1,
  .img-service-2 {
    grid-column: span 12;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%; /* Larghezza massima del contenitore */
    height: auto; /* Impostato dinamicamente */
    aspect-ratio: 16 / 9; /* Imposta un rapporto d'aspetto di default */
  }

  .service-description-1,
  .service-description-2 {
    grid-column: span 12;
    align-items: center;
  }

  /* Cards section*/
  .cards-section {
    margin-top: 200px;
  }

  .card,
  .card-span-2,
  .card-span-3 {
    grid-column: span 12;
  }

  .newsletter-description {
    grid-column: 4/10;
  }

  /* Reviews section*/
  .review-box {
    height: auto;
  }
  .reviews {
    flex-direction: column;
  }

  /* Thanks page*/
  .thanks-content h1 {
    font-size: var(--xl-font-size);
  }

  /* Cookie section*/
  .cookie-banner {
    height: 50% !important;
    width: 100% !important;

    margin: 0 !important;
  }
}
