@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --background-color-white: #ffffff;
  --background-color-light: #e8e4da;
  --background-color-dark: #2f2f2f;
  --background-color-placeholder: #bdb9ae;
  --background-color-placeholder-hover: #98948a;

  --text-color-dark: #2f2f2f;
  --text-color-white: #ffffff;

  --xs-font-size: 7px;
  --s-font-size: 14px;
  --m-font-size: 21px;
  --l-font-size: 28px;
  --xl-font-size: 35px;
  --xxl-font-size: 42px;
  --xxxl-font-size: 49px;
  --max-font-size: 70px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  scroll-behavior: smooth;
}

body {
  min-height: 100svh;

  background-color: var(--background-color-white);
  color: var(--text-color-dark);

  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: var(--xxxl-font-size);
  line-height: 3rem;
}

h2 {
  font-weight: lighter;
  line-height: 2rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: var(--xxl-font-size);
  line-height: 2.5rem;
}

p {
  line-height: 1.5rem;
  margin: 1rem 0;
}

span {
  font-size: var(--m-font-size);
  line-height: 1.5rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color-dark);
}

.special-padding {
  padding: 0px 10px !important ;
}

/* Set grid layout */
.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

/* Set buttons layout */
.button-container {
  display: flex;
  justify-content: center;
  gap: 5%;

  width: 300px;

  margin-top: 20px;
}

.btn-white {
  background-color: transparent;
  color: var(--text-color-dark);

  text-decoration: none;
  cursor: pointer;
  border: 1px solid #2f2f2f;

  padding: 14px;
}

.btn-white:hover {
  background-color: var(--background-color-dark);
  color: var(--text-color-white);

  cursor: pointer;
  transition: 0.3s;
}

.btn-black {
  background-color: var(--background-color-dark);
  color: var(--text-color-white);

  border: 1px solid #2f2f2f;
  cursor: pointer;

  padding: 10px 30px;
}

/* Navbar menu */

.hidden {
  transform: translateY(-100%);
}

nav {
  width: 100%;
  z-index: 20;
  position: fixed;
  background-color: var(--background-color-);
  color: var(--text-color-dark);

  padding: 10px 0;
}

.nav-content {
  grid-column: 2/12;

  display: flex;
  align-items: center;
  justify-content: end;

  width: 100%;
}

.nav-content span {
  font-weight: bold;
}

nav ul {
  display: flex;
}

nav li {
  margin-left: 30px;

  padding: 10px 0;
}

.nav-content span,
li:hover {
  cursor: pointer;
}

.hamburger {
  display: none;
}

/* Hero section */
.hero {
  height: 100svh;
}

.hero-content {
  grid-column: span 6;

  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;

  text-align: start;

  margin-left: 1rem;
  margin-bottom: 2rem;
}

.hero-content h1 {
  font-size: var(--xxxl-font-size);
}

.hero-content p {
  font-size: var(--l-font-size);

  text-align: start;

  font-weight: lighter;

  margin-bottom: 0.5rem;
}

.img-hero {
  grid-column: span 6;

  width: 100%;
  height: 100%;
  background-image: url(./assets/img-hero.jpg); /* URL dell'immagine */
  background-size: cover; /* Adatta l'immagine in modalità cover */
  cursor: pointer;
}

/* Brand description section */

.description-section {
  background-color: var(--background-color-white);

  min-height: 500px;
}

.description-content {
  grid-column: 4/10;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.description-content h2 {
  font-size: var(--xxl-font-size);
  line-height: 3rem;
}

/* Stats section */
.stats-section {
  grid-column-start: 2;
  grid-column-end: 12;

  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  margin-bottom: 200px;
}

.stats-card {
  flex: 1 1 100%;

  padding: 1rem;
  border: 1px solid #ddd;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 300px;
  justify-self: end;
}

.stats-card span {
  font-size: var(--xl-font-size);
  font-weight: bold;
  margin-bottom: 1.3rem;
}
/* Services section */
.services {
  display: flex;
}

.img-service-1 {
  grid-column: span 7;

  height: 500px;

  background-image: url(./assets//yoga-one-to-one.jpg); /* URL dell'immagine */
  background-position: center;
  background-size: cover; /* Adatta l'immagine in modalità cover */
  cursor: pointer;
}

.img-service-2 {
  grid-column: span 7;

  height: 500px;

  background-image: url(./assets/yoga-outdoor.jpg);
  background-position: center;
  background-size: cover;

  cursor: pointer;
}

.img-service:hover {
  background-color: var(--background-color-placeholder-hover);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 0.3s;
}

.img-service p {
  color: var(--text-color-white);
  font-size: var(--xl-font-size);
}

.service-description-1 {
  grid-column: 8/12;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 5%;

  margin: 0 20px;
}

.service-description-1 h2 {
  font-size: var(--xxl-font-size);
  line-height: 2.5rem;
}

.service-description-1 button {
  justify-self: end;
  margin-top: auto;
}

.service-description-2 {
  grid-column: 2/6;

  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 5%;

  margin: 0 20px;
}

.service-description-2 h2 {
  font-size: var(--xxl-font-size);
  line-height: 2.5rem;
}

#servizi {
  margin-bottom: 50px;
}

.description-button-container {
  align-items: end;
  margin-top: auto;
}

.services button {
  width: 130px;
}

/* Product cards section */
.cards-section {
  height: 100%;

  margin-top: 200px;
}
.cards-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 100px 0 20px 0;

  text-align: center;
}

.cards-description h2 {
  font-size: var(--xxl-font-size);
  line-height: 2.5rem;
}

.cards {
  height: 100%;

  color: var(--background-color-white);
  font-size: var(--xl-font-size);

  gap: 2px;
}

.card {
  grid-column: span 2;

  display: flex;
  justify-content: end;
  align-items: end;

  filter: brightness(70%);

  cursor: pointer;
}

.cards span {
  padding: 1rem;
}

.card {
  min-height: 350px;
}
.card-span-2 {
  min-height: 350px;
}
.card-span-3 {
  min-height: 350px;
}

.card:hover {
  filter: brightness(90%);
}

.card:hover {
  background-color: var(--background-color-placeholder-hover);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 0.3s;
}

.card-span-2 {
  grid-column: span 4;

  display: flex;
  justify-content: end;
  align-items: end;

  filter: brightness(70%);

  cursor: pointer;
}

.card-span-2:hover {
  filter: brightness(90%);
}

.card-span-3 {
  grid-column: span 6;

  display: flex;
  justify-content: end;
  align-items: end;

  filter: brightness(50%);

  cursor: pointer;
}

.card-span-3:hover {
  filter: brightness(80%);
}

#card-1 {
  background-image: url(./assets/yoga-di-gruppo.jpg);
  background-position: center;
  background-size: cover;
}

#card-2 {
  background-image: url(./assets/card-2.jpg);
  background-position: center;
  background-size: cover;
}
#card-3 {
  background-image: url(./assets/card-3.jpg);
  background-position: center;
  background-size: cover;
}
#card-4 {
  background-image: url(./assets/yoga-sonno.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
}
#card-5 {
  background-image: url(./assets/card-5.jpg);
  background-position: center;
  background-size: cover;
}
#card-6 {
  background-image: url(./assets/card-6.jpg);
  background-position: center;
  background-size: cover;
}
#card-7 {
  background-image: url(./assets/home-yoga.jpg);
  background-position: center;
  background-size: cover;
}

/* Newsletter section */
.newsletter-box {
  height: 800px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--background-color-white);
}
.newsletter-description {
  height: 80px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 40px;

  text-align: center;
}

.newsletter-description h2 {
  font-size: var(--xxl-font-size);
  line-height: 2.5rem;
}

.newsletter-form {
  width: 800px;
}

form {
  width: 100%;

  grid-column: 4/10;

  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.input-field {
  height: 50px;
  width: 600px;

  margin: 10px;
  padding: 10px;

  font-size: var(--s-font-size);
  color: var(--text-color-dark);
  background: transparent;

  border: 1px solid #2f2f2f;
}

::placeholder {
  color: rgb(165, 165, 165);
}

.input-box-email {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.input-box {
  position: absolute;
  right: 10px;
}

.submit {
  height: 50px;
  background-color: var(--background-color-dark);
  color: var(--text-color-white);

  border: 1px solid #2f2f2f;
  cursor: pointer;

  padding: 10px 30px;

  cursor: pointer;
}

/* Footer section */
.footer {
  height: 100%;

  color: var(--text-color-white);
  background-color: var(--background-color-dark);

  padding: 1rem 0;
}

.brand-data {
  grid-column: span 6;

  display: flex;
  flex-direction: column;
  align-items: start;

  margin: 50px 20px;
}

.brand-data p {
  font-size: var(--s-font-size);
}

.list {
  grid-column: span 2;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.list li {
  padding: 10px;
}

/* Thanks page*/
.thanks {
  height: 100svh;

  background-color: var(--background-color-white);
  color: var(--text-color-dark);
}

.thanks-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.thanks-content h1 {
  font-size: var(--xxxl-font-size);
}

.thanks-content p {
  margin-bottom: 30px;
}

.img-placeholder-background {
  grid-column: 4/10;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

/* Cookie banner*/
.cookie-banner {
  width: 500px;

  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;

  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  padding: 2rem;
  margin: 20px;

  background-color: var(--background-color-white);
  color: var(--text-color-dark);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  text-align: justify;
}

.cookie-banner button {
  width: 150px;
}

.cookie-banner p {
  font-size: var(--s-font-size);
  line-height: 1rem;
}

@media (max-width: 768px) {
  p {
    line-height: 1.5rem;
    margin-top: 1rem;
  }
  /* Nav menu*/
  nav {
    height: 50px;
  }

  nav li {
    text-align: left;

    margin: 15px;

    border-bottom: 1px solid #2f2f2f;
  }

  nav ul {
    width: 100%;
    height: calc(100vh - 50px);

    position: absolute;
    display: block;
    top: 50px;
    right: -100%;

    background-color: var(--background-color-white);
    color: var(--text-color-dark);
  }

  .open nav ul {
    right: 0;
  }

  .hamburger {
    height: 25px;
    width: 30px;

    display: block;
    position: absolute;
    top: 11px;
    right: 20px;
  }

  .hamburger span {
    height: 3px;
    width: 30px;

    display: block;
    position: absolute;
    top: 8px;

    background-color: var(--text-color-dark);
  }

  .hamburger span:nth-child(1) {
    margin-top: 7px;
  }

  .hamburger span:nth-child(2) {
    margin-top: -2px;
  }

  .hamburger:hover {
    cursor: pointer;
  }

  /* Hero section*/

  .hero-content {
    grid-column: span 12;

    margin-top: 50px;
    justify-content: start;
  }

  .img-hero {
    grid-column: span 12;
  }

  /* Brand description section */
  .description-content {
    grid-column: 2/12;
  }

  .description-section {
    min-height: 100%;
    margin-bottom: 100px;
  }

  /* Cards section*/
  .cards-section {
    margin-top: 200px;
  }

  .cards-description {
    margin: 100px 20px 50px 20px;
  }

  .card,
  .card-span-2,
  .card-span-3 {
    grid-column: span 12;
  }

  .input-field {
    width: 100%;
  }
  .input-box-email {
    min-width: 100%;
    margin-top: 50px;
  }
  .newsletter-description {
    grid-column: 4/10;
  }
  .input-field {
    min-width: 300px;
  }

  .newsletter-form {
    max-width: 100%;
  }

  /* Thanks page*/
  .thanks-content h1 {
    font-size: var(--xl-font-size);
  }

  /* Cookie section*/
  .cookie-banner {
    height: 50% !important;
    max-width: 100% !important;

    margin: 0 !important;
  }

  footer {
    height: 400px;
  }
}

@media (min-width: 768px) {
  .stats-card {
    flex: 1 1 calc(50% - 1rem);
  }
}

/* Desktop: 4 per riga */
@media (min-width: 1024px) {
  .stats-card {
    flex: 1 1 calc(25% - 1rem);
  }
}

@media (max-width: 1024px) {
  /* Services section */

  .img-service-1,
  .img-service-2 {
    grid-column: span 12;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%; /* Larghezza massima del contenitore */
    height: auto; /* Impostato dinamicamente */
    aspect-ratio: 16 / 9; /* Imposta un rapporto d'aspetto di default */
  }

  .service-description-1,
  .service-description-2 {
    grid-column: span 12;
    align-items: start;
    margin: 50px 0;
  }

  .service-description-2 button {
    margin-bottom: 50px;
  }
}
